<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www,ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function() {
            $("#searchBtn").on("click", function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page) {
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
                + "&searchSellStatus=" + searchSellStatus
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        select {
            margin-right: 10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form th:action="@{'/admin/items/' + ${items.number}}" role="form" method="get" th:object="${items}">
        <table class="table">
            <thead>
            <tr>
                <td>상품 아이디</td>
                <td>상품명</td>
                <td>상태</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
        </table>
    </form>
</div>
</html>